<legend>Editar Perfil</legend>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div>Email<br />
  <%= f.email_field :email, :autofocus => true %></div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div>Nova Senha <i>(Deixe em branco se nao quiser uma nova senha)</i><br />
  <%= f.password_field :password, :autocomplete => "off" %></div>

  <div>Confirmacao da nova senha<br />
  <%= f.password_field :password_confirmation %></div>

  <div>Senha actual: <i>(Precisamos da sua senha para salvar novas configuracoes)</i><br />
  <%= f.password_field :current_password %></div>

  <div><%= f.submit "Salvar alteracoes", :class => 'btn'%></div>
<% end %>

<legend>Cancelar Conta</legend>

<p>Se nao quiser fazer uso deste software, pode cancelar a sua conta abaixo. <%= button_to "Cancelar minha Conta", registration_path(resource_name), :data => { :confirm => "Tem certeza?" }, :method => :delete, :class => 'btn btn-danger' %></p>

<%= link_to "Voltar", :back, :class => 'btn' %>
