<legend>Novo usuario</legend>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>
  <br />

  <div>Senha<br /><br />
  <%= f.password_field :password %></div>

  <div>Confirmacao da Senha<br /><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Finalizar", :class => "btn" %></div>
  <br />
  <a class="btn" href="/"> Cancelar </a>
<% end %>
