<%= simple_form_for (@patient) do |f| %>

      <%= f.input :name, label: "Nome", :class => 'text_field' %>

      <%= f.input :id_num, label: "B.I", :class => 'text_field' %>

      <%= f.input :record_num, label: "Numero do Ficheiro", :class => 'text_field' %>

      <%= f.input :address, label: "Endereco", :class => 'text_field' %>

      <%= f.input :cell_no, label: "Celular", :class => 'text_field' %>

      <%= f.input :email, label: "Email", :class => 'text_field' %>

      <%= f.input :dob, :as => :date, :start_year => Date.today.year - 5,
                                      :end_year => 1920,
                  :order => [ :day, :month, :year], :required => true, label: "Data de Nascimento", :class => 'text_field' %>

      <%= f.input :employer, label: "Local de Emprego", :class => 'text_field' %>

      <%= f.input :plan, label: "Plano de Saude", :class => 'text_field' %>

      <%= f.input :notes, label: "Anotacoes", :class => 'text_field' %>

      <%= f.button :submit, :class=> 'btn btn-warning', :value => "Salvar" %>
      
    <%= link_to "Cancelar",
                patients_path, :class => 'btn btn' %>
<% end %>
