<%- model_class = Patient -%>
    <legend>Pacientes</legend>
<% if !(@patients.empty?) %>
<%= form_tag(search_path, method: 'get') do %>
<p>
  <strong>Procurar Ficheiro:  </strong><%= text_field_tag :keyword %>
</p>
<% end %>
<table class="table table-striped table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <th><b>Ficheiro</b></th>
      <th><b>Nome</b></th>
      <th class="hidden-phone"><b>Ficheiro numero</b></th>
      <th><b>Celular</b></th>
      <th class="hidden-phone"><b>Data de Nascimento</b></th>
      <th class="hidden-phone"></th>
    </tr>
  </thead>
  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= link_to "Ver", patient_path(patient),
            :class => 'btn btn-mini btn-success' %></td>
        <td><%= patient.name %></td>
        <td class="hidden-phone"><%= patient.record_num %></td>
        <td><%= patient.cell_no %></td>
        <td class="hidden-phone"><%= patient.dob.strftime("%d/%m/%Y") %></td>
        <td class="hidden-phone">
          <%= link_to "Editar",
                      edit_patient_path(patient), :class => 'btn btn-mini' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<%= link_to "Adicionar",
            new_patient_path,
            :class => 'btn btn-warning' %>