<legend>Menu Principal</legend>
<div class="span3">
</div>
<div class="span2">
<%= link_to "Adicionar Paciente",
            new_patient_path,
            :class => 'btn btn-block' %>
            <br />
<%= link_to "Marcar Consulta",
            new_appointment_path,
            :class => 'btn btn-block' %>
            <br />
<%= link_to "Ver Pacientes", patients_path,
            :class => 'btn btn-block' %>
            <br />
<%= link_to "Ver Consultas", appointments_path,
            :class => 'btn btn-block' %>
            <br />
<%= link_to "Ver Historico", history_path,
            :class => 'btn btn-block' %>
</div>