<legend>Resultados da Pesquisa</legend>

<% if @patients %>
<% if @patients.any? %>
	<table class="table table-striped table-bordered table-hover table-condensed">
  		<thead>
    		<tr>
      			<th><b>Ficheiro</b></th>
      			<th><b>Nome</b></th>
      			<th><b>Ficheiro numero</b></th>
      			<th><b>Celular</b></th>
      			<th><b>Data de Nascimento</b></th>
      			<th></th>
    		</tr>
  		</thead>
  		<tbody>
    		<% @patients.each do |patient| %>
      			<tr>
        			<td><%= link_to "Ver", patient_path(patient),
            			:class => 'btn btn-mini btn-success' %></td>
        			<td><%= patient.name %></td>
        			<td><%= patient.record_num %></td>
        			<td><%= patient.cell_no %></td>
        			<td><%= patient.dob.strftime("%d/%m/%Y") %></td>
        			<td>
          				<%= link_to "Editar",
                      		edit_patient_path(patient), :class => 'btn btn-mini' %>
          				<%= link_to "Eliminar",
		                      patient_path(patient),
		                      :method => :delete,
		                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
		                      :class => 'btn btn-mini btn-danger' %>
        			</td>
      			</tr>
    		<% end %>
  		</tbody>
	</table>
	<%= link_to "Voltar",
              patients_path, :class => 'btn'  %>
<% else %>
	<p>Nao foi encontrado nenhum paciente com nome de <%= @keyw %>.</p>
	<p>Tente uma pesquisa diferente:</p>
	<%= form_tag(search_path, method: 'get') do %>
		<p>
  			<%= text_field_tag :keyword %>
		</p>
	<% end %>
	<%= link_to "Voltar",
              patients_path, :class => 'btn'  %>
<% end %>
<% end %>
