<%- model_class = Patient -%>
<div class="page-header">
  <legend>Ficheiro de <%= @patient.name %></legend>
</div>
<div class="row">
<div class="span5">
<dl class="dl-horizontal">
  <dt><strong>B.I.:</strong></dt>
  <dd><%= @patient.id_num %></dd>
  <dt><strong>Numero (Ficheiro):</strong></dt>
  <dd><%= @patient.record_num %></dd>
  <dt><strong>Endereco:</strong></dt>
  <dd><%= @patient.address %></dd>
  <dt><strong>Celular:</strong></dt>
  <dd><%= @patient.cell_no %></dd>
  <dt><strong>Email:</strong></dt>
  <dd><%= @patient.email %></dd>
  <dt><strong>Data Nascimento:</strong></dt>
  <dd><%= @patient.dob %></dd>
  <dt><strong>Local de Emprego:</strong></dt>
  <dd><%= @patient.employer %></dd>
  <dt><strong>Plano de Saude:</strong></dt>
  <dd><%= @patient.plan %></dd>
</dl>
</div>
<div class="span2">
  <img class="avatar" src="<%= @patient.avatar_url %>" />
</div> 
</div>
<strong>Historico e anotacoes:</strong>
  <%= simple_format(@patient.notes) %>
<div class="form-actions">
  <%= link_to "Voltar ao indice",
              patients_path, :class => 'btn'  %>
  <%= link_to "Editar",
              edit_patient_path(@patient), :class => 'btn', :value => "Editar" %>
  <%= link_to "Apagar",
              patient_path(@patient),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
  <% if @patient.appointments.any? %>
    <%= link_to "Imprimir Historico", pdf2_path(:pati => @patient.id.to_s), :class => 'btn btn-warning' %>
  <% else %>
    <%= link_to "Imprimir Detalhes", pdf2_path(:pati => @patient.id.to_s), :class => 'btn btn-warning' %>
  <% end %>
</div>
<% if @appointments.any? %>
   <h4>Este paciente tem <%= @appointments.count %>
    <% if @appointments.count == 1 %>
      consulta
    <% else %>
      consultas
    <% end %>
    no Historico</h4>
  <table class="table table-striped table-bordered table-condensed table-hover">
    <thead>
      <tr>
        <th><b>Ficheiro</b></th>
        <th><b>Detalhes</b></th>
        <th><b>Data Marcada</b></th>
        <th><b>Consulta Efectuada</b></th>
      </tr>
    </thead>
    <tbody>
      <% @appointments.each do |appointment| %>
        <tr>
            <td><%= link_to "Ver", appointment_path(appointment), :class => 'btn btn-success' %></td>
          <td><%= appointment.details %></td>
          <td><%= appointment.appointment_date.strftime("%d/%m/%Y %H:%M") %></td>
          <td><%= (appointment.completed == 1) ? 'Sim' : 'Nao' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <% end %>