<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
 <br />

<legend>Iniciar Sessao</legend>
  <div>Email do Usuario<br /><br />
  <%= f.email_field :email, :autofocus => true, :class => "form-control"%></div>

  <br /><div >Senha<br /><br />
  <%= f.password_field :password, :class => "form-control" %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= "Lembrar-me" %></div><br />
  <% end -%>

  <div><%= f.submit "Entrar", :class => 'btn' %></div>
<% end %>

<%= render "devise/shared/links" %>
