<%= simple_form_for (@appointment) do |f| %>

      <%= f.input :patient_id, collection: @patients, :label => "Paciente" %>

      <%= f.input :details, :label => "Detalhes", :class => 'text_field' %>

      <%= f.input :appointment_date, :label => "Data da Consulta", :as => :datetime %>

      <%= f.input :price, :label => "Preco da Consulta", :class => 'text_field' %>

      <%= f.input :special_supplies, :label => "Requerimentos Especiais", :class => 'text_field' %>
		
	  <% 1.times do %>
	      <% if @appointment && @appointment.completed == 1 %>
	        <% sel = '1' %>
	      <% else %>
	        <% sel = '0' %>
	      <% end %>
	      <%= f.input :completed, :collection => [['Nao',0],['Sim',1]], :label => "Esta consulta ja foi Efectuada?", :selected => sel %>
      	  
      	  <% if @appointment && @appointment.archived == 1 %>
      	  	<% sell = '1' %>
	      <% else %>
	        <% sell = '0' %>
	      <% end %>
	      	<% if @appointment.completed == 1%>
  				<%= f.input :archived, :collection => [['Nao',0],['Sim',1]], :label => "Arquivar consulta", :selected => sell %>
  			<% end %>
  		<% end %>
      
      
      	
      

    <%= f.button :submit, :class => 'btn btn-warning', :value => "Salvar" %>
    <%= link_to "Cancelar",
                appointments_path, :class => 'btn' %>
<% end %>
