<%- model_class = Appointment -%>
<legend>Historico de Consultas</legend>
<% if !(@appointments.empty?) %>
<%= content_tag :div, "", id: "appointments_chart", data: {appointments: appointments_chart_data}, :class => "hidden-phone" %>
<% end %>

<% if !(@patients.empty?) %>
<% if !(@appointments.empty?) %>

<%= form_tag mark_completed_appointments_path, method: :put do %>
<table class="table table-striped table-bordered table-condensed table-hover">
  <thead>
    <tr>
      
  <th><b></b></th>
<% end %>
      <th><b>Ficheiro</b></th>
      <th><b>Paciente</b></th>
      <th class="hidden-phone"><b>Detalhes</b></th>
      <th><b>Data Marcada</b></th>
      <th class="hidden-phone"><b>Requerimentos Especiais</b></th>
      <th class="hidden-phone"><b>Consulta Efectuada</b></th>
      <th class="hidden-phone"></th>
    </tr>
  </thead>
  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <% if !(@appointments.empty?) %>
  <td><%= check_box_tag "appointment_ids[]", appointment.id %></td>
<% end %>
        <td><%= link_to "Ver", appointment_path(appointment), :class => 'btn btn-success' %></td>
        <td><%= @patients.find(appointment.patient_id).name %></td>
        <td class="hidden-phone"><%= appointment.details %></td>
        <td><%= appointment.appointment_date.strftime("%d/%m/%Y") %></td>
        <td class="hidden-phone"><%= appointment.special_supplies %></td>
        <td class="hidden-phone"><%= (appointment.completed == 1) ? 'Sim' : 'Nao' %></td>
        <td class="hidden-phone">
          <%= link_to "Editar",
                      edit_appointment_path(appointment), :class => 'btn btn-mini' %></td>
        <td class="hidden-phone">
          <%= link_to "Eliminar",
                      appointment_path(appointment),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<% else %>
  <h2>Precisa adicionar Pacientes antes de poder ver o historico</h2>
<% end %>