<%- model_class = Appointment -%>
  <legend>Nova Consulta</legend>

<% if !(@patients.empty?) %>
	<%= render :partial => 'form' %>
<% else %>
	<h3>Precisa adicionar o Paciente antes de poder marcar uma consulta</h3>
<% end %>