<%- model_class = Appointment -%>
  <legend>Consulta</legend>

<dl class="dl-horizontal">
  <dt><strong>Nome do Paciente:</strong></dt>
  <dd><%= @patients.find(@appointment.patient_id).name %></dd>
  <dt><strong>Data Marcada:</strong></dt>
  <dd><%= @appointment.appointment_date %></dd>
  <dt><strong> Preco:</strong></dt>
  <dd><%= @appointment.price %> AKz</dd>
  <dt><strong>Detalhes:</strong></dt>
  <dd><%= @appointment.details %></dd>
</dl>
<% if @appointment.completed == 1 %>
  	<div class="well"><p class="text-success"><strong> Esta consulta ja foi efectuada.</strong></p></div>
  <% end %>
<% if @appointment.archived == 1 %>
  	<div class="well"><p class="text-success"><strong> Esta consulta esta arquivada.</strong></p></div>
  <% end %>

<div class="form-actions">
  <%= link_to "Voltar",
              appointments_path, :class => 'btn'  %>
  <%= link_to "Editar",
              edit_appointment_path(@appointment), :class => 'btn' %>
  <%= link_to "Apagar",
              appointment_path(@appointment),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
  <%= link_to "Imprimir Recibo", pdf_path(:appo => @appointment.id.to_s), :class => 'btn btn-warning' %>
</div>
